@font-face{
    font-family: 'Quent';
    src: url(Q-Regular.otf);
    
}

:root{
    --color-primary: ##784212;
    --color-primary-dark: black;
    --color-white: #eee;
    --color-black: #0f0f0f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: serif;
    background-color: black;
    background-image: url(Brown_Paper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-size: 100%;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url("Brown_Paper.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(5px);
}

.content{
    color: var(--color-white);
    text-align: center;
    margin-top: 200px;
}

.content h1{
    font-size: 95px;
    margin-bottom: 10px;
}

.content p{
    font-size: 35px;
}
header{
    background-color: var(--color-black);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
}

.logo{
    font-size: 30px;
    color: var(--color-white);
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
    padding: 0 20px;
    transition: all 0.2s ease;
}
nav ul li a:hover{
    color: var(--color-primary);
}

.btn{
    text-decoration: none;
    text-transform:capitalize;
    background-color: var(--color-primary-dark);
    padding: 10px 20px;
    border-radius: 12px;
    display: inline-block;
}

.btn-1{
    color: white;
    border: 2px solid var(--color-primary-dark);
    display: inline-block;
    border-radius: 12px;
    padding: 13px 22px;
    border-width: 3px;
}

.btn-1:hover{
    background-color: var(--color-primary-dark);
}

p{
    font-size: 16px;
    font-family: Times New Roman;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

h5{
    font-size: 22px;
    font-family: Times New Roman;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
